// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors 
$headerColor: #FCFCFC;
$textColor: #000000;
$textFirstColor: #FFFFFF;
$mainBlue: #0070E0;
$borderColor: #D8D8D8;
$borderSecondColor: #C1C7CD;

// Fonts
$globalFonts: 'Roboto';
